@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    color:#5e5e5c;
    text-transform:capitalize;
}

nav {
    background-color: #f3f3f3;
    margin: 0;
    padding: 10px;
}

nav ul {
    display:flex;
    justify-content: flex-end
}

li {
    list-style: none;
    padding-left: 0;
    margin-right: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

footer {
    background:#f3f3f3;
    
}

.images {
    text-align: center;
    text-transform: capitalize;
    width: 80%;
    margin: 0 auto 10rem auto;
}

.single-image {
    border:3px solid #ff1010;
    padding: 1rem 0;
}

@media(min-width:992px) {
    .images {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.small {
    width: 100px;
}
